body {
    background: #061f47;
    color: #ffffff;
}

a:link {
    color:#ffffff;
}

a:visited {
    color: hotpink;
}

a:hover {
    color: yellow;
}

a:active {
    color: green;
}

#port-nav{
    width:100%;
    text-align: center;
}

#port-nav ul{
    list-style-type: none;

}

#port-nav>ul>li>a{
    font-size: 20px;
    border-radius: 20px;
}

li { 
    display: inline-block;
    margin-right: 5px;
} 

#prof_pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}